<!doctype html>
{% set og_title = "Data Viz" %}
{% set og_description = "Explore Wikipedia article graphs, art movements, and viewership trends." %}
<title>{{ og_title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include '_theme_init.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% include '_pwa_head.html' %}

{% include '_navbar.html' %}

<div id="app"></div>

{% include '_footer.html' %}
<script id="feed-data" type="application/json">{{ {'article': article, 'topics': topics.keys() | list} | tojson }}</script>
{{ vite_asset('home') }}