<!doctype html>
<title>Hello from Flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if person %}
  <h1>Hello {{ person }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

{% if article %}
  <article>
    <h2><a href="{{ article.content_urls.desktop.page }}">{{ article.title }}</a></h2>
    {% if article.thumbnail %}
      <img src="{{ article.thumbnail.source }}" alt="{{ article.title }}">
    {% endif %}
    <p>{{ article.extract }}</p>
  </article>
{% endif %}